.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--main-bg-color);
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.navbar ul li a {
  text-decoration: none; /* Removes underline */
  color: white; /* Sets the text color to white */
  cursor: pointer;
}

.navbar ul li a:hover {
  color: var(--main-sec-color); /* Optional: Change color on hover */
}

.auth-buttons {
  display: flex;
  gap: 1rem;
}

.sign-in {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.sign-up {
  background-color: var(--main-sec-color);
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 5px;
}
